/* ------------------ TAGS ------------------ */


html, body {
    margin: 0;
    padding:0;
}

section {
    display: block;
    min-height: 100%;
    box-sizing:border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    background-attachment: fixed;
    background-image: 
        linear-gradient(rgba(56, 64, 71, 0.5), rgba(56, 64, 71, 0.5)),
        url(../media/images/lead-bg.jpg);
    background-position: center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
}


/*
body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    background: url(../media/images/lead-bg.jpg) fixed, center, no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    &:after {
        content: "";
        position: absolute;
        background: png_base64(rgba(56, 64, 71, 0.5));
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
  }
}
*/
/* 
#bg-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(56, 64, 71, 0.5);
}
*/ 

body.active {
    overflow: hidden;
    z-index: -1;
}

footer {
    padding: 30px 0;
    background: linear-gradient(to top, #212121, rgba(33, 33, 33, 0.0));
}



/* ------------------ CONTAINERS ------------------ */
#about, #experience, #education, #projects, #skills, #contact {
    position: relative;
    top: 10vh;
    margin: 20%;
    min-width: 60%;
    max-width: 80%;
    max-height: 80%;
    padding: 30px 15px;
    text-align: center;
    background: #212121;
    border: 1px solid #292929;
}



/* ------------------ NAVBAR ------------------ */
header {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #242424;
    border: 1px solid #292929;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    text-align: center;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
    padding: 16px 10px; /* Large padding which will shrink on scroll (using JS) */
    z-index: 999;
    vertical-align: middle;
    font-size: 1em;
}

header ul {
    display: inline-block;
    text-align: center;
    padding: 1px;
    margin: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
header li {
    display: inline-block;
}

header a {
    display: block;
    color: #B0BEC5;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.2s ease all;
}

header a:hover {
    text-decoration: none;
    border-radius: 1px;
    color: #FFFFFF;
    background: #2A2A2A;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

header a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

header.active {
    display: block;
}

.menu-lang {
    display: inline-block;
    top: 0;
    right: 0;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.9em;
}

.menu-lang a {
    display: block;
    color: #B0BEC5;
}



/* ------------------ LEAD ------------------ */
#lead {
    position: relative;
    height: 100vh;
    padding: 15px;
    overflow: hidden;
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#lead-content h1, #lead-content h2 {
    margin: 0;
}

#lead-content h1 {
    color: #f9f9fa;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

#lead-content h2 {
    color: #4f7370;
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #d1d3d5;
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #4f7370;
    text-align: center;
}

#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
}



/* ------------------ ABOUT ------------------ */
#about h2 {
    color: #FFFFFF;
}
#about p {
    color: #B0BEC5;
    margin: 0;
}



/* ------------------ TIMELINE ------------------ */
#experience h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
}

#experience-timeline {
    margin: 10px auto 0 auto;
    position: relative;
    max-width: 75vw;
    max-height: 60vh;
}
#experience-timeline:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #4f7370;
    z-index: 0;
}
#experience-timeline:after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    background: #4f7370;
    background: linear-gradient(to bottom, #4f7370, rgba(79, 115, 112, 0));
    top: 100%;
    left: 303px;
}

.vtimeline-content {
    margin-left: 350px;
    margin-right: 5vw;
    background: #292929;
    border: 1px solid #292929;
    padding: 10px;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: left;
}
.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #FFFFFF;
    display: inline-block;
    margin: 0;
}
.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #B0BEC5;
    margin: 0 0 15px 0;
}
.vtimeline-content p {
    color: #B0BEC5;
    font-size: 0.9em;
    margin: 0;
}
.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}
.vtimeline-icon {
    position: relative;
    color: #B0BEC5;
    width: 50px;
    height: 50px;
    background: #4f7370;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}
.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}
.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #c2c4c6;
}



/* ------------------ EDUCATION ------------------ */
#education h2 {
    color: #FFFFFF;
    margin-bottom: 50px;
}
.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #292929;
    text-align: left;
    background: #292929;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}
.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #FFFFFF;
}
.education-block span {
    color: #B0BEC5;
    float: right;
}
.education-block h4 {
    color: #B0BEC5;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
}
.education-block p,
.education-block ul {
    margin: 0;
    color: #B0BEC5;
    font-size: 0.9em;
}
.education-block ul {
    padding: 0 0 0 15px;
}



/* ------------------ PROJECTS ------------------ */
#projects h2 {
    color: #FFFFFF;
    margin-bottom: 50px;
}

#more-projects {
    display: none;
}

.project {
    position: relative;
    max-width: 67vw;
    max-height: 300px;
    margin: 5vw;
    overflow: hidden;
    background: #292929;
    border-radius: 1px;
}

.project-image, .project-video {
    float: left;
    margin-bottom: -5px;
}
.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px;
}
.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #FFFFFF;
    margin: 0 0 15px 0;
}
.project-info p {
    color: #B0BEC5;
    margin: 0 0 15px 0;
    font-size: 0.9em;
}
.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none;
}

.project a {
    color: #4f7370;
}



/* ------------------ SKILLS ------------------ */
#skills h2 {
    color: #FFFFFF;
    margin-bottom: 50px;
}
#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}
#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #B0BEC5;
    background: #292929;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}



/* ------------------ CONTACT ------------------ */
#contact h2 {
    margin: 0 0 15px 0;
    color: #FFFFFF;
    font-weight: 500;
}
#contact-form {
    max-width: 500px;
    margin: 0 auto;
}
#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    border: none;
    margin-bottom: 10px;
    background: #292929;
    color: #B0BEC5;
    transition: 0.5s ease all;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}
#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #B0BEC5;
}
#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #B0BEC5;
    opacity: 1;
}
#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #B0BEC5;
    opacity: 1;
}
#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #B0BEC5;
}
#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #323232;
}
#contact-form textarea {
    height: 150px;
    resize: none;
}
#contact-form button {
    display: block;
    width: 100%;
    background: #4f7370;
    border-radius: 1px;
    padding: 5px 10px;
    border: none;
    color: #B0BEC5;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
}
#contact-form button:hover {
    color: #FFFFFF;
    background: #5f8c87;
    box-shadow: 0 5px 10px rgba(79, 115, 112, 0.30), 0 6px 6px rgba(0, 0, 0, 0.23);
}



/* ------------------ FOOTER ------------------ */
.top {
    text-align: center;
}
.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
}
.top i {
    color: #ededee;
}
.social {
    text-align: right;
}
.social ul {
    margin: 5px 0 0 0;
    padding: 0;
}
.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
}
.social a {
    display: block;
    color: #ededee;
    padding: 10px;
}
.social a:hover {
    color: #728f8d;
}



/* ------------------ MISC STYLING ------------------ */
.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.shadow-x-large {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}
.heading:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #4f7370;
}

.btn-rounded-white {
    display: inline-block;
    color: #d1d3d5;
    padding: 15px 25px;
    border: 3px solid #4f7370;
    border-radius: 30px;
    transition: 0.3s ease all;
}
.btn-rounded-white:hover {
    color: #f9f9fa;
    background: #4f7370;
    text-decoration: none;
}



/* ------------------ ANIMATIONS ------------------ */
@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}



/* ------------------ NO JS ------------------ */
.no-js #experience-timeline > div {
    background: #4f7370;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9;
}

.no-js #experience-timeline > div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #B0BEC5;
    display: inline-block;
    margin: 0;
}

.no-js #experience-timeline > div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.no-js #experience-timeline > div p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}



/* ------------------ MOBILE MENU ------------------ */
#menu.active {
    display: block;
}

#menu-lang.active {
    display: block;
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #B0BEC5;
    font-size: 1.5em;
    padding: 0 7px;
    border-radius: 1px;
    background: #212121;
    z-index: 999;
}


#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #212121;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #B0BEC5;
}
#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase;
}
#mobile-menu-close i {
    vertical-align: middle;
}



/* ------------------ MEDIA QUERIES ------------------ */
@media only screen and (max-width: 992px) {
    #about, #experience, #education, #projects, #skills, #contact {
        position: relative;
        top: 10vh;
        min-width: 95vw;
        max-width: 95vw;
        min-height: 60vh;
        max-height: 95vh;
        margin: 5vh 5vw;
        padding: 30px 15px;
        text-align: center;
        background: #212121;
        border: 1px solid #292929;
    }
    
        section {
            display: block;
            max-height: 100%;
            box-sizing:border-box;
    }
    
    #lead {
        height: auto;
        min-height: 100%;
        padding: 100px 15px;
    }
    
    #lead-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #lead-content h1 {
        font-size: 3em;
    }
    #lead-content h2 {
        font-size: 1.75em;
    }
    #about {
        text-align: center;
    }
    #about p {
        text-align: left;
    }
}



@media only screen and (max-width: 750px) {
    #about, #experience, #education, #projects, #skills, #contact {
        position: relative;
        top: 5vh;
        min-width: 95vw;
        max-width: 95vw;
        min-height: 60vh;
        margin: 5vh 5vw;
        padding: 30px 15px;
        text-align: center;
        background: #212121;
        border: 1px solid #292929;
    }
    
    section {
        display: block;
        max-height: 100%;
        box-sizing:border-box;
    }
    
    #lead {
        height: auto;
        min-height: 100%;
        padding: 100px 15px;
    }
    
    
    #lead-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }
    
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }
    
    .vtimeline-icon {
        margin-left: 0;
    }
    
    .vtimeline-content {
        margin-left: 70px;
    }
    
        
    #mobile-menu-open, #mobile-menu-close {
        display: block;
    }
    
    #menu {
      display: block;
      height: 100%;
      width: 100%;
      margin: 0px;  
      z-index: 9;
    }
    
    #menu ul {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 9;
    }
    
    #menu li {
        display: block;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    #about, #experience, #education, #projects, #skills, #contact {
        position: relative;
        top: 5vh;
        min-width: 95vw;
        max-width: 95vw;
        min-height: 60vh;
        margin: 5vh 5vw;
        padding: 30px 15px;
        text-align: center;
        background: #212121;
        border: 1px solid #292929;
    }
    
    section {
        display: block;
        max-height: 100%;
        box-sizing:border-box;
    }
    
    #lead {
        height: auto;
        min-height: 100%;
        padding: 100px 15px;
    }
    
    
    #lead-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }
    
    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }
    
    #menu {
      display: block;
      height: 100%;
      width: 100%;
      margin: 0px;  
      z-index: 9;
    }
    
    #menu ul {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 9;
    }
    
    #menu li {
        display: block;
        margin-bottom: 10px;
    }
    
    #lead-content h1 {
        font-size: 2em;
    }
    
    #lead-content h2 {
        font-size: 1.3em;
    }
    
    #lead-content a {
        padding: 10px 20px;
    }
    #lead-down {
        display: none;
    }
    
    .education-block h3,
    .education-block span {
        float: none;
    }
    
    .project-image, .project-video {
        display: none;
    }
    
    .project-info {
        position: absolute;
        margin: 0;
        padding: 15px 15px;
        top: auto;
        transform: none;
    }
    
    footer {
        text-align: center;
    }
    
    .social {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #about, #experience, #education, #projects, #skills, #contact {
        position: relative;
        top: 5vh;
        min-width: 98vw;
        max-width: 98vw;
        min-height: 60vh;
        margin: 2vh 2vw;
        padding: 30px 15px;
        text-align: center;
        background: #212121;
        border: 1px solid #292929;
    }
    
    section {
        display: block;
        max-height: 100%;
        box-sizing:border-box;
    }
    
    #lead {
        height: auto;
        min-height: 100%;
        padding: 100px 15px;
    }
    
    #lead-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    
    #lead-content h1 {
        font-size: 1.5em;
    }
    
    #lead-content h2 {
        font-size: 1em;
    }
    
    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px;
    }
    
    #mobile-menu-open, #mobile-menu-close {
        display: block;
    }
    
    #menu {
      display: block;
      height: 100%;
      width: 100%;
      margin: 0px;  
      z-index: 9;
    }
    
    #menu ul {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 9;
    }
    
    #menu li {
        display: block;
        margin-bottom: 10px;
    }
}

