<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3315896278048738" crossorigin="anonymous"></script>
    <title>Grottenveien Kortspill Boms og President</title>
    <meta name="description" content="Spill kortspillet Boms og President, online med venner over hele verden.">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body style="background-color: gray;">
    <table>
        <tr>
            <td colspan="2">
                <div class="tittel">
                    Velkommen til GROTTENVEIEN.NO
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 30vmin; vertical-align: top;" id="liste">
                <div>Her finner du:</div>
                <div>
                    <a href="vriatter.html"><img src='00Tittel.png' alt="Vri åtter" style="width: 80%;" /><br />Vri åtter</a>
                </div>
                <div>
                    <a href="bomsogpresident.html"><img src='00Tittel_BomsOgPres.png' alt="Boms og President" style="width: 80%;" /><br />Boms og President</a>
                </div>
                <div>
                    <a href="spardame.html"><b>Spar dame</b></a>
                </div>
                <div>
                    <a href="hjerter.html"><b>Hjerter</b></a>
                </div>
                <div>
                    <a href="poeng.html"><b>Poengskjema</b></a>
                </div>
                <div>
                    <a href="ark.html"><b>Ark å skrive ut</b></a>
                </div>
                <div>
                    <a href="terning.html"><b>Terninger og andre tilfeldigheter</b></a>
                </div>
            </td>
            <td style="vertical-align: top;">
                <div class="ramme">
                    <div>
                        <a href='spill/boms.html'><img src='00Tittel_BomsOgPres.png' style="width: 25vw;" /></a>
                    </div>
                    <div>&nbsp;<br />&nbsp;<br />&nbsp;</div>
                    <a href='spill/boms.html'>
                        <div class="knapp"><img src="play.png" style="height: 1em;" /> SPILL <b>BOMS OG PRESIDENT</b></div>
                    </a>
                    <div>&nbsp;<br />&nbsp;</div>
                    <h1>Boms og president</h1>
                    <p><a href='spill/boms.html'>Spill Boms og president.</a></p>
                    <p>
                        Boms og president (også kalt bare "Boms" eller bare "President") er et artig kortspill for tre eller flere personer. Hele kortstokken deles ut (minus spar-3 hvis man er tre eller minus spar-3 og hjerter-3 hvis man er fem). Poenget
                        med Boms og president er å bli først tom for kort. I første spill er det den som har ruter-3 som starter, men ellers i spillet er det alltid presidenten som starter første runde. Den som starter, kan legge ut et hvilket som helst
                        kort. Dersom man har flere like med samme verdi (tall), kan man velge å legge ut dem samtidig. Neste spiller må legge ut kort med lik eller høyere verdi (tall) enn det som sist ble lagt ut, og må også legge ut eksakt like mange
                        kort. Dersom man ikke kan (eller ikke vil), kan man melde Pass. Slik fortsetter det rundt bordet helt til alle har sagt pass. (Dersom man har sagt pass tidligere i runden, kan man ikke legge mer den runden.) Når alle har sagt pass,
                        er det den spilleren som sist la på kort som starter neste runde. Dersom denne spilleren er tom for kort (er ferdig), er det forrige spiller som la på, som får starte runden.
                    </p>
                    <p>Dersom en spiller klarer å få det til å bli fire kort oppå-hverandre på bordet med samme verdi (tall), så stopper runden. Det er da denne spilleren som starter med å legge ut på neste runde.</p>
                    <p>
                        Verdien på kortene er litt spesiell i Boms og president: Det beste kortet er kløver-3. Det har noen spesialregler vi kommer til. De andre 3'ere er de laveste. Deretter kommer den normale rekkefølgen: 3-4-5-6-7-8-9-10-J-Q-K-A. Og øverst
                        kommer 2.
                    </p>
                    <p>
                        Den spilleren som først blir kvitt alle kortene sine i en runde, vinner runden og blir "President" i neste spill. De neste som blir kvitt alle kortene sine får de neste plassene, og slik fortsetter man helt til det bare er én igjen
                        med kort på hånden. Denne spilleren taper spillet og blir "Boms" i neste spill.
                    </p>
                    <p>
                        Når neste spill starter, bytter man plasser slik at man sitter i resultatrekkefølge, med "Presidenten" på topp. Det er da alltid presidenten som starter å legge ut kort i første runde, men før det så skal presidenten og bomsen bytte
                        ett kort. Presidenten kan velge selv hvilket kort som skal gis bort (velger normalt det dårligste), mens bomsen må gi sitt høyeste kort. (De fleste spiller med at bomsen kan få lov til å beholde kløver-3 dersom bomsen er så heldig
                        å få akkurat det kortet.)
                    </p>
                    <p>
                        Kløver-3 er spesiell på flere måter: Det går over alle andre kort, og kan også legges på alene selv om det egentlig skal legges på to eller flere kort samtidig. Runden avsluttes alltid når kløver-3 legges på, og den som la på kløver-3
                        starter da å legge ut kort neste runde.
                    </p>
                    <p>Dersom man er 5 eller flere spillere, kan man velge å innføre "vise-president" og "vise-boms". I så tilfelle bytter boms og president 2 kort, og vise-boms og vise-president 1 kort når et nytt spill starter.</p>
                    <p>Du kan også lese om Boms og president på <a href="https://no.wikipedia.org/wiki/Presidenten_(kortspill)">Wikipedia</a> eller <a href="https://kortregler.no/36">Kortregler</a>. Hos <a href="https://www.kilroy.no/reiseinspirasjon/en-guide-til-boms-president">Kilroy</a>                        har de samlet en rekke forskjellige regel-vbarianter fra rundt om i verden.</p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>