<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Boms og President</title>
    <link rel="stylesheet" type="text/css" href="../css/felles.css">
    <link rel="stylesheet" type="text/css" href="../css/boms.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3315896278048738" crossorigin="anonymous"></script>
    <!--link rel="icon" type="image/png" href="ikoner\00Tittel_BomsOgPres.png"-->
</head>

<body>
    <div id="DivHele" class="SePaaModus">
        <div id="DivHovedmeny">
            <div style="grid-row: 1 / 2; grid-column: 1 / -1; text-align: center;"><img src="ikoner/00Tittel_BomsOgPres.png" style="max-width: 80%; max-height: 80%; margin-top: 3vh;" /></div>
            <button type="button" id="BnHNySpill" title="Lag nytt spill" style="grid-row: 2 / 3; grid-column: 2 / -2;">Lag nytt spill</button>
            <button type="button" id="BnHKobleSpill" title="Koble til spill" style="grid-row: 3 / 4; grid-column: 2 / -2;">Koble til spill</button>
            <div style="grid-row: 4 / 5; grid-column: 1 / -1;">&nbsp;</div>
        </div>
        <div id="DivFKnapper" style="text-align: center; vertical-align: middle;">
            <button type="button" id="BnFInviterSpill" title="Inviter andre" style="float: left;"><img src="ikoner/00Invite.png" alt=""/></button>
            <button type="button" id="BnPNySpiller" title="Bli en spiller" style="float: left;"><img src="ikoner/00Player.png" alt=""/></button>
            <button type="button" id="BnPNySpiller_Off" title="Bli en spiller (ikke tillatt nå)" style="float: left;"><img src="ikoner/00Player_Off.png" alt=""/></button>
            <button type="button" id="BnFNyAutoSpiller" title="Legg til datamotstander" style="float: left;"><img src="ikoner/00Bot.png" alt=""/></button>
            <button type="button" id="BnFNyAutoSpiller_Off" title="Legg til datamotstander (ikke tillatt nå)" style="float: left;"><img src="ikoner/00Bot_Off.png" alt=""/></button>
            <button type="button" id="BnFStartSpill" title="Start spill" style="float: left;"><img src="ikoner/00Start.png" alt=""/></button>
            <button type="button" id="BnFStartSpill_Off" title="Start spill (ikke tillatt nå)" style="float: left;"><img src="ikoner/00Start_Off.png" alt=""/></button>
            <button type="button" id="BnFHovedmeny" title="Avslutt spill og gå til hovedmeny" style="float: right;"><img src="ikoner/00BackToStart.png" alt=""/></button>
            <button type="button" id="BnFRegler" title="Regler" style="float: right;"><img src="ikoner/00Rules.png" alt=""/></button>
            <button type="button" id="BnFResultater" title="Resultater for alle rundene" style="float: right;"><img src="ikoner/00Statestikk_Ver2.png" alt=""/></button>
            <div>
                <span id="SpanSpillId"></span><br/>
                <span id="SpanSpillStat"></span>
            </div>
        </div>

        <div id="DivSpillere" class="scroll">

        </div>
        <div id="DivBord">

        </div>
        <div id="DivReklameBred">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Grottenveien VriÅtter 728x90 -->
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3315896278048738" data-ad-slot="8476235442"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="DivReklameKvadrat">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Grottenveien VriÅtter 200x200 -->
            <ins class="adsbygoogle" style="display:inline-block;width:200px;height:200px" data-ad-client="ca-pub-3315896278048738" data-ad-slot="5163676395"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="DivPKnapper" style="text-align: center; vertical-align: middle;">
            <button type="button" id="BnPPass" title="Pass" style="float: left;"><img src="ikoner/00Pass.png" alt=""/></button>
            <button type="button" id="BnPPass_Off" title="Pass (ikke tillatt nå)" style="float: left;"><img src="ikoner/00Pass_Off.png" alt=""/></button>
            <span id="SpanSpillerNick"></span>
            <button type="button" id="BnPGiOpp" title="Gi opp" style="float: right;"><img src="ikoner/00GiveUp.png" alt=""/></button>
            <br/>
            <span id="SpanSpillerInfo"></span>
        </div>
        <div id="DivKort">

        </div>

    </div>

    <div id="DivBord_Bordforklaring" style="display: none;">
        <div><b>Velkommen til <img src="ikoner/00Tittel_BomsOgPres.png" style="height: 2em;"></b></div>
        <div id="Bordforklaring1" class="tips">
            <div>Inviter venner til spillet ditt er lett:</div>
            <div>- Enten trykk på <img src="ikoner/00Invite.png">, kopier linken til dette spillet og send den til vennene dine.</div>
            <div>- Eller la vennene dine velge "koble til spill" fra hovedmenyen og be dem skrive inn Spill-ID til dette spillet, som er tallet du ser øverst på skjermen.</div>
            <div>Når vennene dine er inne, vil alle se det samme og dere kan spille sammen.</div>
            <button type="button" onclick="document.getElementById('Bordforklaring1').style.display='none'; document.getElementById('Bordforklaring2').style.display='block';">Neste tips</button>
        </div>
        <div id="Bordforklaring2" class="tips" style="display: none;">
            <div>Vil du spille på denne enheten, trykk på <img src="ikoner/00Player.png">. Velg da ditt spillernavn.</div>
            <div>Hvis du ikke spiller på denne enheten, kan den ligge på bordet og vise kortene dere legger ut.</div>
            <button type="button" onclick="document.getElementById('Bordforklaring2').style.display='none'; document.getElementById('Bordforklaring3').style.display='block';">Neste tips</button>
        </div>
        <div id="Bordforklaring3" class="tips" style="display: none;">
            <div>Ønsker du flere spillere, kan du legge til én eller flere robot-spillere. Det gjør du ved å trykke på <img src="ikoner/00Bot.png">.</div>
            <button type="button" onclick="document.getElementById('Bordforklaring3').style.display='none'; document.getElementById('Bordforklaring4').style.display='block';">Neste tips</button>
        </div>
        <div id="Bordforklaring4" class="tips" style="display: none;">
            <div>Når det er to eller flere spillere kan dere starte å spille Vri åtter. Da kommer <img src="ikoner/00Start.png"> til syne.</div>
            <button type="button" onclick="document.getElementById('Bordforklaring4').style.display='none';">Lukk tips</button>
        </div>
    </div>
    <div id="DivKort_Kortforklaring" style="display: none;">
        <div id="Kortforklaring1" class="tips">
            <div>Her kommer kortene dine når spillet starter. For å legge på kort, trykker du på kortet.</div>
            <button type="button" onclick="document.getElementById('Kortforklaring1').style.display='none';">Lukk tips</button>
        </div>
    </div>
    <div id="dialogKobleSpill" class="dialog-container">
        <div class="dialogVindu">
            <div class="dialogTittel">Bli med på spill</div>
            <div class="dialogBody">
                <div>Skriv inn spill-nummeret til spillet du vil delta i:</div>
                <div><input class="autofocus" type="number" id="dialogKobleSpillId" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g, ''); document.getElementById( 'dialogKobleSpillError').innerHTML='';" min="1" max="999999" step="1" required
                    /></div>
                <div id="dialogKobleSpillError" style="color: red;"></div>
            </div>
            <div class="dialogFooter">
                <button type="button" onclick="showDialog('KobleSpill',false);"><img src='ikoner/00BackArrow.png' alt='Avbryt'></button>
                <button type="submit" id="dialogKobleSpillOk"><img src='ikoner/00Done.png' alt='Delta'></button>
            </div>
            <script>
                document.getElementById('dialogKobleSpillId').addEventListener('keypress', function(e) {
                    if (e.keyCode == 13) {
                        document.getElementById('dialogKobleSpillOk').click();
                    }
                });
            </script>
        </div>
    </div>

    <div id="dialogSporOmNick" class="dialog-container">
        <div class="dialogVindu">
            <div class="dialogTittel">Hva vil du hete?</div>
            <div class="dialogBody">
                <div>Skriv inn navnet ditt i spillet:</div>
                <div><input class="autofocus" type="text" id="dialogSporOmNickTxt" maxlength="30" oninput="this.value=this.value.replace(/[^0-9A-ZÆØÅa-zæøå /-]/g, ''); document.getElementById( 'dialogSporOmNickError').innerHTML='';" required /></div>
                <div id="dialogSporOmNickError" style="color: red;"></div>
            </div>
            <div class="dialogFooter">
                <button type="button" onclick="showDialog('SporOmNick',false);"><img src='ikoner/00BackArrow.png' alt='Avbryt'></button>
                <button type="submit" id="dialogSporOmNickOk"><img src='ikoner/00Done.png' alt='Bli spiller'></button>
            </div>
            <script>
                document.getElementById('dialogSporOmNickTxt').addEventListener('keypress', function(e) {
                    if (e.keyCode == 13) {
                        document.getElementById('dialogSporOmNickOk').click();
                    }
                });
            </script>
        </div>
    </div>

    <div id="dialogVisLink" class="dialog-container">
        <script>
            function dialogVisLinkStart(SpillId, Url) {
                document.getElementById("dialogVisLinkLblLink").innerHTML = SpillId;
                document.getElementById("dialogVisLinklblUrl").value = Url;
                document.getElementById("dialogVisLinkbnSMS").style.visibility =
                    (!(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/iPhone/i)) ? "hidden" : "");
                showDialog("VisLink", true);
            }

            function dialogVisLinkSMS() {
                var melding = document.getElementById("dialogVisLinklblUrl").value;
                // for andriod
                if (navigator.userAgent.match(/Android/i)) {
                    window.open('sms:?body=' + encodeURIComponent(melding), '_blank');
                    //window.open('sms://99999999/?body=' + encodeURIComponent(melding), '_blank')
                } else
                // for IOS
                if (navigator.userAgent.match(/iPhone/i)) {
                    window.open('sms:&body=' + encodeURIComponent(melding), '_blank');
                    //window.open('sms://99999999/&body=' + encodeURIComponent(melding), '_blank');
                } else {
                    throw (navigator.userAgent);
                }
            }
        </script>
        <div class="dialogVindu">
            <div class="dialogTittel">Inviter andre spillere</div>
            <div class="dialogBody">
                <div>Be dine venner starte Boms & President, og koble til spill nummer <span id="dialogVisLinkLblLink" style='font-weight: bold;'></span>.</div>
                <div>Under er link til dine venner. Ved å bruke denne linken, kommer de rett inn i dette spillet. Kopier den og send til dine venner:</div>
                <div><input type="url" id="dialogVisLinklblUrl" readonly /></div>
                <button type="button" onclick="var copyText = document.getElementById('dialogVisLinklblUrl'); copyText.select(); copyText.setSelectionRange(0, 99999); document.execCommand('copy');">Kopier link</button>
                <button type="button" id="dialogVisLinkbnSMS" onclick="dialogVisLinkSMS();">Send på SMS</button>
            </div>
            <div class="dialogFooter">
                <button type="submit" onclick="showDialog('VisLink',false);"><img src='ikoner/00Done.png' alt='Ok'></button>
            </div>
        </div>
    </div>

    <div id="dialogAsk" class="dialog-container">
        <script>
            function dialogAskStart(spm, tekster, funcer) {
                document.getElementById("DialogAskBody").innerHTML = spm;
                var footer = document.getElementById("DialogAskFooter");
                footer.innerHTML = "";
                for (let i = 0; i < tekster.length; i++) {
                    var elem = document.createElement("button");
                    elem.innerHTML = tekster[i];
                    elem.onclick = function() {
                        showDialog("Ask", false);
                        funcer[i]();
                    }
                    footer.appendChild(elem);
                }
                showDialog("Ask", true);
            };
        </script>
        <div class="dialogVindu">
            <div class="dialogTittel" id="DialogAskTittel"></div>
            <div class="dialogBody" id="DialogAskBody"></div>
            <div class="dialogFooter" id="DialogAskFooter"></div>
        </div>
    </div>

    <div id="dialogLeggPaaKort" class="dialog-container">
        <div class="dialogVindu">
            <div class="dialogTittel">Legg på kort</div>
            <div id="DialogLeggPaaKort" class="dialogBody"></div>
            <div class="dialogFooter"><button type="button" onclick="showDialog('LeggPaaKort', false);">Velg noe annet å legge på</button></div>
        </div>
    </div>

    <div id="dialogKanIkkeLeggeKort" class="dialog-container">
        <div class="dialogVindu">
            <div class="dialogTittel">Du kan ikke legge på det kortet nå.</div>
            <div class="dialogBody">Du må legge på like mange kort, og med samme verdi eller høyere.</div>
            <div class="dialogFooter"><button type="button" onclick="showDialog('KanIkkeLeggeKort', false);"><img src='ikoner/00Done.png' alt='Ok'></button></div>
        </div>
    </div>

    <div id="dialogRegler" class="dialog-container">
        <div class="dialogVindu">
            <div class="dialogTittel">Regler</div>
            <div class="dialogBody TabToKolonner">
                <div>-</div>
                <div>Regler...</div>
            </div>
            <div class="dialogFooter"><button class="autofocus" type="submit" onclick="showDialog('Regler', false);"><img src='ikoner/00Done.png' alt='Lukk'></button></div>
        </div>
    </div>

    <div id="dialogResultater" class="dialog-container">
        <script>
            function dialogResultaterStart(resultater) {
                var antSeiere = [];
                var antPoeng = [];

                function settVerdi(liste, navn, verdi) {
                    var linje = null;
                    liste.forEach(e => {
                        if (e.navn == navn) {
                            linje = e;
                        };
                    });
                    if (linje == null) {
                        liste.push({
                            navn: navn,
                            verdi: verdi
                        });
                    } else {
                        linje.verdi += verdi;
                    }
                }
                resultater.forEach(resultat => {
                    settVerdi(antSeiere, resultat[0], 1);
                    settVerdi(antPoeng, resultat[0], 5);
                    settVerdi(antPoeng, resultat[1], 3);
                    if (resultat.length >= 3) {
                        settVerdi(antPoeng, resultat[2], 1);
                    }
                });
                antSeiere = antSeiere.sort((a, b) => b.verdi - a.verdi);
                antPoeng = antPoeng.sort((a, b) => b.verdi - a.verdi);
                var htmlSeiere = "";
                antSeiere.forEach(linje => {
                    htmlSeiere += `<div>${linje.navn}</div><div>${linje.verdi}</div>`;
                });
                var htmlPoeng = "";
                antPoeng.forEach(linje => {
                    htmlPoeng += `<div>${linje.navn}</div><div>${linje.verdi}p</div>`;
                });
                document.getElementById("dialogResultaterSeiere").innerHTML = htmlSeiere;
                document.getElementById("dialogResultaterPoeng").innerHTML = htmlPoeng;
                showDialog("Resultater", true);
            }
        </script>
        <div class="dialogVindu">
            <div class="dialogTittel">Resulteter</div>
            <div class="dialogBody">
                <div>
                    <div style="font-weight: bold;">Antall seiere</div>
                    <div id="dialogResultaterSeiere" class="TabToKolonner"></div>
                </div>
                <div>
                    <div style="font-weight: bold;">Poeng</div>
                    <div id="dialogResultaterPoeng" class="TabToKolonner"></div>
                </div>
            </div>
            <div class="dialogFooter"><button class="autofocus" type="submit" onclick="showDialog('Resultater', false);"><img src='ikoner/00Done.png' alt='Lukk'></button></div>
        </div>
    </div>

    <div id="dialogCredits" class="dialog-container">
        <div class="dialogVindu">
            <div class="dialogTittel">Credits</div>
            <div class="dialogBody">
                <p>Kortstokk: http://acbl.mybigcommerce.com/52-playing-cards/</p>
            </div>
            <div class="dialogFooter"><button type="button" onclick="showDialog('Credits', false);"><img src='ikoner/00Done.png' alt='Ok'></button></div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-database.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAyzYBPpB_wBT0X36z9bcYMLY3BAJfNYR8",
            authDomain: "vriatter-8d120.firebaseapp.com",
            databaseURL: "https://vriatter-8d120.firebaseio.com",
            projectId: "vriatter-8d120",
            storageBucket: "vriatter-8d120.appspot.com",
            messagingSenderId: "319973467145",
            appId: "1:319973467145:web:557ebfbed3d04244cf84d8",
            measurementId: "G-MEC0Q2JNT5"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script src="kort.js"></script>
    <script src="spill.js"></script>
    <script src="felles.js"></script>
    <script src="boms.js" async></script>
</body>

</html>